/* pages */
/* @import url('./login/style.css'); */
@import url('./challenges/style.css');
@import url('./rewards/style.css');


/* components */
@import url('../components/popUpLogin/style.css');
@import url('../components/navbar/style.css');
@import url('../components/layoutChildren/style.css');
@import url('../components/ui/carrousel/style.css');
@import url('../components/ui/separator/style.css');
@import url('../components/ui/title/style.css');

body {
  background-color: #282929;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #efeeee;
}

.homeContainer {
  margin-top: 28px;
}

.catchPhrase {
  width: 100%;
  text-align: center;
  margin-top: 28px;
}