/* pages */
/* @import url('./login/style.css'); */
@import url('./challenges/style.css');
@import url('./rewards/style.css');


/* components */
@import url('../components/popUpLogin/style.css');
@import url('../components/navbar/style.css');
@import url('../components/layoutChildren/style.css');

body {
  background-color: #2F2F2F;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #efeeee;
}

.homeContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}