/* pages */
/* @import url('./login/style.css'); */
@import url('./challenges/style.css');
@import url('./rewards/style.css');
@import url('./account/style.css');
@import url('../components/currentGame/style.css');


/* components */
@import url('../components/popUpLogin/style.css');
@import url('../components/navbar/style.css');
@import url('../components/layoutChildren/style.css');
@import url('../components/ui/carrousel/style.css');
@import url('../components/ui/separator/style.css');
@import url('../components/ui/title/style.css');
@import url('../components/ui/platform/style.css');

body {
  background-color: #282929;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #efeeee;
}

.homeContainer {
  margin-top: 28px;
}

.catchPhrase {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #A317CD;
  background-image: -webkit-linear-gradient(0deg, #A317CD 1%, #00CED1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  font-weight: 500;      
}