.carrouselContainer {
    width: 95%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #e0e0e0;
    padding-bottom: 16px;
}

.pictureCarrousel {
    width: 95%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    flex: 0 0 auto;
    margin-right: 8px;
}