.navBarContainer {
    width: fit-content;
    height: fit-content;
    position: fixed;
    padding: 0px 8px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    border-radius: 28px;
    z-index: 3;
    background: rgba(255, 255, 255, 0.443);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
}

.navBarContainer > a {
    display: flex;
}

.homeIcon, .challengesIcon, .rewardsIcon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 42px;
    height: 42px;
    margin: auto;
    padding: 8px;
    border-radius: 28px;
}

.accountIcon {
    width: 42px;
    height: 42px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: red;
    margin: auto;
    margin-top: auto;
}

.homeIcon {
    background-image: url('/assets/homeIcon.svg');
}

.challengesIcon {
    background-image: url('/assets/challengesIcon.svg');
}

.rewardsIcon {
    background-image: url('/assets/giftIcon.svg');
}

.focusNav {
    opacity: 1;
    transition: all ease 0.2s;
    scale: 1.2
}

.disabledAccountNav {
    opacity: 0.8;
    transition: all ease 0.2s;
}

.focusAccountNav {
    opacity: 1;
    transition: all ease 0.2s;
    scale: 1.2;
}

.disabledNab {
    opacity: 0.5;
    transition: all ease 0.2s;
    scale: 1
}