.ecoImpactContainer {
    width: 90%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.buttonsContainer {
    display: flex;
    margin-top: 16px;
}

.buttonsContainer > button {
    margin: auto;
}