.challengesListContainer {
    width: 100%;
    height: fit-content;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: auto;
    gap: 16px;
}

.challengeContainer {
    width: 100%;
    height: fit-content;
    background-color: #373737;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    display: flex;
}

.challengeContentContainer {
    width: 95%;
    height: 95%;
    margin: auto;

}

.tagDifficulty {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 28px;
    border-radius: 16px;
    background: rgb(163, 23, 205);
    background: linear-gradient(90deg, rgba(163, 23, 205, 1) 0%, rgba(0, 206, 209, 1) 100%);
    bottom: 0;
    font-size: 14px;
}

.challengeLabel {
    text-align: center;
    font-size: 14px;
    color: #C9C9C9;
    width: 100%;
    display: block;
    margin-top: 8px;
}

.challenge {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 16px;
}

.challengePictureContainer {
    position: relative;
    display: grid;
    gap: 8px;
}

.challengePicture {
    width: 72px;
    height: 72px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.thisChallengeContainer {
    font-size: 14px;
    width: 100%;
    display: block;
    margin-top: 8px;
    margin: auto;
    position: relative;
    display: grid;
    grid-gap: 8px;
}

.progressBarContainerChallenge {
    width: 90%;
    height: 10px;
    background-color: #454545;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.progressBarChallenge {
    height: 12px;
    background-color: #a317cd;
    border-radius: 8px;
}

.labelProgressBar {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: end; 
}